.root {
    display: flex;
}

.inputSearch {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;    
    margin-right: 10px;
    font-size: 26px;    
}

.buttonSearch {
    margin-right: 10px;;
}